body {
  background-color: darkolivegreen;
}

#container {
  flex-direction: column;
  gap: 5px;
  background-color: blue;
}

.drawBox {
  background-color: yellow;
  border-style: solid;
  border-color: brown;
  border-width: 1px;
  width: 20px;
  height: 20px;
}


.divRow {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
}
